@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.grecaptcha-badge {
  visibility: hidden!important;
}
